[submodule "core"]
	path = core
	url = https://github.com/qubic/core.git
[submodule "docs"]
	path = docs
	url = https://github.com/qubic/docs.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
